################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Specflow-Portal-Web/bin/Debug/net462
/.vs
/Specflow-Portal-Web/.vs/Specflow-Portal-Web
/Specflow-Portal-Web/obj
